apiVersion: apps/v1
kind: Deployment
metadata:
  name: relentless-api
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: relentless-api
  template:
    metadata:
      labels:
        app: relentless-api
    spec:
      containers:
        - name: api
          image: relentless-api:dev
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: 32Mi
              cpu: 50m
            limits:
              memory: 64Mi
              cpu: 100m
          env:
            - name: KAFKA_BROKER
              value: relentless-kafka-kafka-bootstrap.kafka:9092
            - name: KAFKA_TOPIC
              value: relentless.crawl.frontier
            - name: REDIS_ADDR
              value: relentless-redis.default.svc.cluster.local:6379