apiVersion: apps/v1
kind: Deployment
metadata:
  name: relentless-redis
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: relentless-redis
  template:
    metadata:
      labels:
        app: relentless-redis
    spec:
      containers:
        - name: redis
          image: redis:7.2-alpine
          ports:
            - containerPort: 6379
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 128Mi
              cpu: 100m
